<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

    <!-- 사원 정보 등록 -->
    <insert id="create" parameterType="BoardVO">
        insert into tb_emp_manage (
            empId,
            empName,
            interphone,
            companyName,
            teamName,
            athority,
            isWorking,
            inDate,
            outDate,
            extraInfo
        )
        values(
            #{empId},
            #{empName},
            #{interphone},
            #{companyName},
            #{teamName},
            #{athority},
            #{isWorking},
            #{inDate},
            #{outDate},
            #{extraInfo}
              )
    </insert>

    <!-- 사원정보 읽기 -->
    <select id="read" resultType="BoardVO">
        select
            bno,
            empId,
            empName,
            interphone,
            companyName,
            teamName,
            athority,
            isWorking,
            inDate,
            outDate,
            register,
            regDate,
            extraInfo
        from tb_emp_manage where bno = #{bno}
    </select>

    <!-- 사원정보 수정 -->
    <update id="update" parameterType="BoardVO">
        UPDATE tb_emp_manage SET
            empName = #{empName},
            interphone = #{interphone},
            companyName = #{companyName},
            teamName = #{teamName},
            athority = #{athority},
            isWorking = #{isWorking},
            inDate = #{inDate},
            outDate = #{outDate},
            register = #{register},
            extraInfo = #{extraInfo}
        WHERE bno = #{bno}
    </update>

    <!-- 사원정보 삭제 -->
    <delete id="delete">
        delete from tb_emp_manage where bno = #{bno}
    </delete>

    <!-- 사원 목록 불러오기 -->
    <select id="listAll" resultType="BoardVO">
        SELECT
            bno,
            empId,
            empName,
            interphone,
            companyName,
            athority,
            isWorking,
            inDate,
            outDate,
            pwdErCnt,
            register,
            regDate
        FROM tb_emp_manage
        ORDER BY bno DESC
        LIMIT #{curPage}, #{perPage}
    </select>

    <!-- 사원 아이디 중복체크 -->
    <select id="checkId" resultType="Integer">
        select count(empId) from tb_emp_manage where empId = #{emp_id}
    </select>

    <!-- 사원 내선번호 중복체크 -->
    <select id="checkInterphone" resultType="Integer">
        select count(interphone) from tb_emp_manage where interphone = #{interphone}
    </select>

    <!-- 총 사원정보 개수 -->
    <select id="listAllCnt" resultType="Integer">
        select count(*) from tb_emp_manage
    </select>
</mapper>