<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

    <!-- 사원 정보 등록 -->
    <insert id="create" parameterType="BoardVO">
        INSERT INTO tb_emp_manage (
            empId,
            empName,
            interphone,
            companyName,
            teamName,
            athority,
            isWorking,
            inDate,
            outDate,
            extraInfo
        )
        VALUES(
            #{empId},
            #{empName},
            #{interphone},
            #{companyName},
            #{teamName},
            #{athority},
            #{isWorking},
            #{inDate},
            #{outDate},
            #{extraInfo}
              )
    </insert>

    <!-- 사원정보 읽기 -->
    <select id="read" resultType="BoardVO">
        SELECT
            bno,
            empId,
            empName,
            interphone,
            companyName,
            teamName,
            athority,
            isWorking,
            inDate,
            outDate,
            register,
            regDate,
            extraInfo
        FROM tb_emp_manage WHERE bno = #{bno}
    </select>

    <!-- 사원정보 수정 -->
    <update id="update" parameterType="BoardVO">
        UPDATE tb_emp_manage SET
            empName = #{empName},
            interphone = #{interphone},
            companyName = #{companyName},
            teamName = #{teamName},
            athority = #{athority},
            isWorking = #{isWorking},
            inDate = #{inDate},
            outDate = #{outDate},
            register = #{register},
            extraInfo = #{extraInfo}
        WHERE bno = #{bno}
    </update>

    <!-- 사원정보 삭제 -->
    <delete id="delete">
        DELETE FROM tb_emp_manage WHERE bno = #{bno}
    </delete>

    <!-- 사원 목록 불러오기 -->
    <select id="listAll" resultType="BoardVO">
        SELECT
            bno,
            empId,
            empName,
            interphone,
            companyName,
            athority,
            isWorking,
            inDate,
            outDate,
            pwdErCnt,
            register,
            regDate
        FROM tb_emp_manage
        ORDER BY bno DESC
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <!-- 사원 아이디 중복체크 -->
    <select id="checkId" resultType="Integer">
        SELECT COUNT(empId) FROM tb_emp_manage WHERE empId = #{emp_id}
    </select>

    <!-- 사원 내선번호 중복체크 -->
    <select id="checkInterphone" resultType="Integer">
        SELECT COUNT(interphone) FROM tb_emp_manage WHERE interphone = #{interphone}
    </select>

    <!-- 총 사원정보 개수 -->
    <select id="listAllCnt" resultType="Integer">
        SELECT COUNT(bno) FROM tb_emp_manage
    </select>

    <!-- 검색을 위한 동적 쿼리 -->
    <select id="listSearch" resultType="BoardVO">/*TODO: resultMap 찾아봐*/
        <![CDATA[
        SELECT
            bno,
            empId,
            empName,
            interphone,
            companyName,
            athority,
            isWorking,
            inDate,
            outDate,
            pwdErCnt,
            register,
            regDate
        FROM tb_emp_manage
        WHERE bno > 0
        ]]>
        <include refid="search"/>
        <![CDATA[
        ORDER BY bno DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <!-- 검색된 게시글 수 -->
    <select id="countSearchedList" resultType="Integer">
        <![CDATA[
        SELECT
            COUNT(bno)
        FROM tb_emp_manage
        WHERE bno > 0
        ]]>
        <include refid="search"/>
    </select>

    <!-- include 되는 검색 조건문 -->
    <sql id="search">
        <if test="ftSearchType != null">
            <if test="ftSearchType == 'working'.toString()">
                AND isWorking LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="ftSearchType == 'retired'.toString()">
                AND isWorking LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="ftSearchType == 'rest'.toString()">
                AND isWorking LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </if>
    </sql>
</mapper>