<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

    <!-- JDBC: Java DataBase Connectivity 자바에서 데이터베이스에 접속하게 하는 API -->
    <!-- applicationContext: 스프링이 관리하는 빈들이 담겨 있는 컨테이너,
        서비스 계층이나 DAO를 포함한 웹 환경에 독립적인 빈들을 담아둔다.
        서로 다른 서블릿 컨텍스트에서 공유해야 하는 빈들을 등록해놓고 쓸 수 있다.
        Servlet Context에 등록된 빈들을 이용 불가능하고 servlet context와 공통된 빈이 있다면 servlet context 빈이 우선된다.
        WebApplication 전체에 사용가능한 DB 연결, 로깅 기능들이 이용된다.
        ApplicationContext는 주로 XML 파일을 사용하여 bean 들을 설정한다. -->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mariadb://10.10.10.109:3306/seunghunyeom?useUnicode=yes&amp;characterEncoding=UTF-8"/> <!-- DB에 삽입하는 데이터가 한글이기 때문에 Unicode를 사용하고 UTF-8로 인코딩한다. -->
        <property name="username" value="seunghunyeom"/>
        <property name="password" value="YEOM220!"/>
    </bean>

    <!-- 마이바티스는 SqlSession 생성을 위해 SqlSessionFactory를 사용,
        세션을 한번 생성하면 매핑구문을 실행하거나 커밋 또는 롤백을 하기 위해 세션을 사용
        마지막으로 더 이상 필요하지 않은 상태가 되면 세션을 닫음
        dataSource : 데이터소스
        ConfigLocation : 설정 파일 경로 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource"
                  ref="dataSource"/> <!-- name:sqlsession bean에서 사용할 이름, ref:위의 연결설정에서 정해진 dataSource를 참조 -->
        <property name="configLocation" value="classpath:/mybatis-config.xml"/><!-- -->
        <property name="mapperLocations" value="classpath:/mappers/**/*Mapper.xml"/> <!-- 앞으로 참조할 sql문이 위치할 장소 -->
    </bean>

    <!-- 설정에 따라 자동으로 커밋 혹은 롤백을 수행하고 닫혀지는, 스레드에 안전한 SqlSession 개체가 스프링 빈에 주입,
        SqlSession을 구현하고 코드에서 SqlSession을 대체하는 역할, 스레드에 안전하고 여러개의 DAO나 매퍼에서 공유가능,
        SqlSessionTemplate는 생성자인자로 SqlSeesionFactory를 사용해서 생성 가능 -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>


</beans>